<%- include("partials/header"); -%>

<style>
    .inventory-grid-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 40px;
    }

    .card {
        background-color: #f5c48f;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        height: 20rem;
        width: 12rem;
        text-align: center;
        transition: transform 0.2s ease-in-out;
    }

    .card:hover {
        transform: translateY(-5px);
    }

    .card img {
        max-width: 85%;
        margin-bottom: 10px;
    }

    .card h1 {
        font-size: 1.75rem;
        margin-bottom: 5px;
    }

    .card h2 {
        font-size: 1.2rem;
        color: black;
        margin-bottom: 10px;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

</style>

<section id="home-heading">
    <div class="container heading-box">
        <div class="row row-home">
            <div class="col-lg-6">
                <h1 class="big-heading">Menu</h1>
                <h2 class="inventory-heading mt-3">Welcome to the Menu Page of the Student Centre!</h2>
                <p class="heading-para mt-5">Our menu is carefully curated to provide a wide range of delicious options that are sure to satisfy any appetite. From hearty breakfast choices to satisfying lunch specials and delectable snacks, we have something for everyone.</p>
            </div>
            <div class="col-lg-6">
                <img class="donate-img" src="images/people-cooking.jpeg.jpg" alt="cooking-mockup">
            </div>
        </div>
    </div>
</section>
    <section id="food-grid-items" style="margin-bottom:5rem ;" >
        <div class="container inventory-grid-items">
            <% fooditems.forEach(function(fooditem) { %>
            <div class="card">
                <img src="images/<%= fooditem.foodName %>.png" alt="image cant be loaded" style="margin: auto">
                <h1><%= fooditem.foodName %></h1>
                <h1><%= fooditem.foodPrice %>₹</h1>

                
            </div>
            <% }); %>
        </div>
    </section>

<%- include("partials/footer"); -%>
